.container{
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  max-width: 100vw;
  flex-wrap: wrap;
  z-index: 1;
  /* min-height: 50vh; */
  margin: 50vh 0 0 0;
  /* background: #551212; */
}

/* cria um elemento atras */
.container::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(#551212, #440e0e);
  clip-path: circle(8% at right 70%);
}

/* criar elemento na frente*/
/* .container::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(#551212, #440e0e);
  clip-path: circle(5% at 0% 65%);
} */

.card{
  /* opção 1 */
  /* position: relative;
  width: 340px;
  height: 420px;
  position: relative;
  background-color: rgba(255,255,255,0.1);
  padding: 50px;
  border-radius: 5px;
  backdrop-filter: blur(30px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45,55,68,0.3);
  line-height: 1.5; */

  position: relative;
  width: 340px;
  height: 420px;
  margin: 30px;
  box-shadow: 20px 20px 50px, rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container .card .conteudo{
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}

.container .card img{
  width: 25vw;
  height: 20vh;
  max-width: 200px;
  border-radius: 50px;
}

.container .card .conteudo h2{
  position: absolute;
  top: 0px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.6);
  pointer-events: none;
}

.container .card .conteudo h3{
  font-size: 1.8em;
  color: #551212;
  z-index: 1;
  margin: 20px 0;
}

.container .card .conteudo a{
  margin: 20px;
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background-color: #551212;
  color: #FFCBDB;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container .card .conteudo a:hover{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background-color: #fff;
  color: rgba(255,111,156,1);
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


